@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.space {
  background: linear-gradient(135deg, #2c3a47, #485563, #000000);
  background-size: 300% 300%;
  animation: space-gradient 15s ease infinite;
}

@keyframes space-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.purple-space {
  background: radial-gradient(ellipse at bottom, #4b3896 0%, #260f41 100%);
  background-size: 300% 300%;
  animation: space-gradient 8s ease infinite;
}
